.header {
  background-color: rgba(255, 255, 255, 0.5); /* 白色，50% 透明 */
}

.cart {
  padding: 10px 14px;
}

.search {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 400px;
}

.navbar {
  transition: background-color 0.3s ease; /* 平滑過渡 */
  background-color: transparent;         /* 預設透明 */
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.8); /* 滾動後 → 白色半透明 */
  backdrop-filter: blur(5px);                 /* 可選：加毛玻璃效果 */
}

.w-600 {
  width: 600px;
  object-fit: cover
}

.h-1000 {
  height: 1000px;
}

a {
  cursor: pointer;
}

.modal-dialog.modal-fullscreen {
  width: 100%;
  margin: 0;   /* ✅ 移除左右空隙 */
}
