.pt-210 {
  padding-top: 210px;
}

.bg-line {
  background-image: url(/assets/images/user/bg-line.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; 
}

.wh-160 {
  width: 160px;
  height: 160px;
}

.ps-36 {
  padding-left: 36px;
}

.pe-36 {
  padding-right: 36px;
}

.edit-hover {
  color: $primary;
}

.edit-hover:hover {
  color: white;
}

.rounded-20 {
  border-radius: 20px;
}

.wh-40 {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

/* 預設隱藏 member-hover */
.member-hover {
  display: none;
}

/* 滑鼠移上 .d-flex 外層時觸發 */
.bg-member-hover:hover {
  background-color: $primary-10; 
}

/* 滑鼠移上時，顯示 member-hover */
.bg-member-hover:hover .member-hover {
  display: flex;
}

/* 滑鼠移上時，隱藏原本的 span 名稱 */
.bg-member-hover:hover > span.fs-6 {
  display: none;
}