.border-14 {
  position: relative;
}

.border-14::after {
  content: '';
  position: absolute;
  top: 20%;            /* 線從上方開始 */
  right: 0;          /* 線在右邊 */
  height: 58%;       /* 線高度佔元素高度 58% */
  border-right: 1px solid $neutral-60; /* 你的 $neutral-60 */
}

.product-img {
  width: 200px;
  height: 132px;
}

.text-left-hover {
  position: relative;
  text-decoration: none;
  padding-left: 16px;
}

.text-left-hover::after {
  content: "";
  position: absolute;
  left: 0%;                /* 置中：因為寬度只有 50%，所以往右移 25% */
  bottom: -2px;
  height: 100%;               /* 底線只佔一半 */
  width: 4px;
  background-color: $primary;
  transform: scaleX(0);     /* 預設縮到 0，看不到 */
  transform-origin: center; /* 從中間展開 */
}

.text-left-hover:hover::after,
.text-left-hover.active::after {
  transform: scaleX(1);
}

.wh-60 {
  width: 60px;
  height: 60px;
}

.gradient-box {
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 40%; /* 控制漸層高度 */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #FAFBFC 100%);
  border-radius: 0 0 0px 0px; /* 跟圖片下方圓角一致 */
}
