<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="mt-90">
      <div class="hero-bg p-hero m-auto">
        <div class="container">
          <h1 class="d-inline-block text-primary fw-bold bg-primary-10 fs-6 p-4 rounded-5 mb-3">ZOBAA 旅行推薦平台</h1>
          <p class="display-2 fw-bold text-primary lh-sm mb-6">用旅行，收藏世界的樣子</p>
          <p class="text-primary-80 fw-bold fs-6 lh-sm mb-8">ZOBAA 整合熱門景點推薦、即時優惠、獨家行程，從比價到訂購，一次完成你的完美出遊計畫。</p>
          <form class="d-inline-flex position-relative">
            <span class="material-symbols-outlined text-neutral-60 position-absolute top-50 start-0 translate-middle-y ms-2">search</span>
            <input class="form-control ps-8 py-5 bg-search rounded-5" type="search" placeholder="搜尋景點、地點或城市" aria-label="Search">
            <button type="submit" class="btn btn-primary position-absolute translate-middle-y bg-search-position rounded-4 py-3 px-4">
              開始探索旅程
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="bg-coffee py-14">
      <div class="d-flex justify-content-between mb-12">
        <div>
          <h2 class="display-2 fw-bold text-white mb-0">你的</h2>
          <h2 class="display-2 fw-bold text-white mb-0">專屬推薦</h2>
        </div>
        <div class="text-white">
          <p class="mb-2">來看我們的精選推薦行程，滿意度高達 99.2%</p>
          <p class="mb-6">給自己一個難忘的旅遊行程吧！</p>
          <a href="#" class="d-flex align-items-center text-decoration-none text-white ">查看全部行程<span class="material-symbols-outlined">arrow_forward</span></a>
        </div>
      </div>
    </div>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
